.video_editor {
  max-width: 100%;
  padding: 0 8px;
}

.progress_header {
  margin: 0;
  font-size: 26px;
}

.progress_desc {
  color: #aaa;
  margin: 0;
  margin-top: 10px;
}

.video_content {
  max-height: 700px;
}

.buttons {
  margin-top: 16px;
  display: flex;
  justify-content: end;
}

.edit_controller {
  padding: 16px;
  margin-top: 16px;
  background-color: var(--backgroud-color-secondary);
  border-radius: 5px;
}

.slider {
  padding: 12px;
  margin-bottom: 16px;
  border-radius: 5px;
  background-color: var(--backgroud-color-tertiary);
}

.time_line_value {
  font-weight: bold;
}

.toast_wrapper {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.toast_content {
  display: flex;
  width: 100%;

  justify-content: space-between;
}

.toast_close_button {
  background-color: inherit;
}
