.edit_resolution {
  width: 200px;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 1fr;
}

.input {
  background-color: inherit;
  width: 100%;
  border: 0;
}

.checkbox {
  width: fit-content;
}
