:root {
  --border-color: #f3f3f3;
  --app-max-width: 1280px;

  --backgroud-color: white;
  --backgroud-color-secondary: #e1e1e1;
  --backgroud-color-tertiary: #c1c1c1;
  --font-color: black;
}

html.dark {
  --backgroud-color: black;
  --backgroud-color-secondary: #1c1c1c;
  --backgroud-color-tertiary: #212529;
  --font-color: #f3f3f3;
}

body {
  background-color: var(--backgroud-color);
}

h1 {
  margin: 0;
}

button {
  padding: 0;
  margin: 0;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

.accordion {
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--backgroud-color-tertiary);
}
